# Melakukan ETL(Extract, Transform, Load)

In [34]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

## Install Dependencies

In [35]:
import pandas as pd
import numpy as np

df = pd.read_csv('CovidDeaths.csv')
df2 = pd.read_csv('CovidVaccinations.csv')

In [33]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85171 entries, 0 to 85170
Data columns (total 37 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   iso_code                               85171 non-null  object
 1   continent                              81060 non-null  object
 2   location                               85171 non-null  object
 3   date                                   85171 non-null  object
 4   new_tests                              38945 non-null  float64
 5   total_tests                            38652 non-null  float64
 6   total_tests_per_thousand               38652 non-null  float64
 7   new_tests_per_thousand                 38945 non-null  float64
 8   new_tests_smoothed                     44625 non-null  float64
 9   new_tests_smoothed_per_thousand        44625 non-null  float64
 10  positive_rate                          42904 non-null  float64
 11  tests_per_case                         42311 non-null  float64
 12  tests_units                            46079 non-null  object
 13  total_vaccinations                     9374 non-null   float64
 14  people_vaccinated                      8744 non-null   float64
 15  people_fully_vaccinated                6431 non-null   float64
 16  new_vaccinations                       7954 non-null   float64
 17  new_vaccinations_smoothed              15092 non-null  float64
 18  total_vaccinations_per_hundred         9374 non-null   float64
 19  people_vaccinated_per_hundred          8744 non-null   float64
 20  people_fully_vaccinated_per_hundred    6431 non-null   float64
 21  new_vaccinations_smoothed_per_million  15092 non-null  float64
 22  stringency_index                       72207 non-null  float64
 23  population_density                     79274 non-null  float64
 24  median_age                             76706 non-null  float64
 25  aged_65_older                          75830 non-null  float64
 26  aged_70_older                          76276 non-null  float64
 27  gdp_per_capita                         77046 non-null  float64
 28  extreme_poverty                        52449 non-null  float64
 29  cardiovasc_death_rate                  77634 non-null  float64
 30  diabetes_prevalence                    78779 non-null  float64
 31  female_smokers                         60828 non-null  float64
 32  male_smokers                           59931 non-null  float64
 33  handwashing_facilities                 39007 non-null  float64
 34  hospital_beds_per_thousand             70847 non-null  float64
 35  life_expectancy                        80833 non-null  float64
 36  human_development_index                77517 non-null  float64
dtypes: float64(32), object(5)
memory usage: 24.0+ MB

## Cek Data CovidDeaths

In [3]:
df.head(10)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2/24/2020,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2/25/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2/26/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2/27/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2/28/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
5,AFG,Asia,Afghanistan,2/29/2020,1.0,0.0,0.143,NaN,NaN,0.0,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
6,AFG,Asia,Afghanistan,3/1/2020,1.0,0.0,0.143,NaN,NaN,0.0,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
7,AFG,Asia,Afghanistan,3/2/2020,1.0,0.0,0.000,NaN,NaN,0.0,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
8,AFG,Asia,Afghanistan,3/3/2020,2.0,1.0,0.143,NaN,NaN,0.0,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
9,AFG,Asia,Afghanistan,3/4/2020,4.0,2.0,0.429,NaN,NaN,0.0,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511

In [4]:
df['location'].unique()

array(['Afghanistan', 'Africa', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Asia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Cayman Islands', 'Central African Republic', 'Chad', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao', 'Cyprus', 'Czechia',
       'Democratic Republic of Congo', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia',
       'Europe', 'European Union', 'Faeroe Islands', 'Falkland Islands',
       'Fiji', 'Finland', 'France', 'Gabon', 'Gambia', 'Georgia',
       'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guatemala', 'Guernsey', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'International', 'Iran', 'Iraq', 'Ireland',
       'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey',
       'Jordan', 'Kazakhstan', 'Kenya', 'Kosovo', 'Kuwait', 'Kyrgyzstan',
       'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macao', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia (country)', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North America',
       'North Macedonia', 'Northern Cyprus', 'Norway', 'Oceania', 'Oman',
       'Pakistan', 'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania',
       'Russia', 'Rwanda', 'Saint Helena', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa',
       'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia',
       'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa',
       'South America', 'South Korea', 'South Sudan', 'Spain',
       'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Syria',
       'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Timor', 'Togo',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turks and Caicos Islands', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican', 'Venezuela',
       'Vietnam', 'World', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [5]:
df['date'].min()

'1/1/2020'

In [6]:
df['date'].max()

'9/9/2020'

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85171 entries, 0 to 85170
Data columns (total 59 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   iso_code                               85171 non-null  object
 1   continent                              81060 non-null  object
 2   location                               85171 non-null  object
 3   date                                   85171 non-null  object
 4   total_cases                            83072 non-null  float64
 5   new_cases                              83070 non-null  float64
 6   new_cases_smoothed                     82069 non-null  float64
 7   total_deaths                           73408 non-null  float64
 8   new_deaths                             73566 non-null  float64
 9   new_deaths_smoothed                    82069 non-null  float64
 10  total_cases_per_million                82623 non-null  float64
 11  new_cases_per_million                  82621 non-null  float64
 12  new_cases_smoothed_per_million         81625 non-null  float64
 13  total_deaths_per_million               72972 non-null  float64
 14  new_deaths_per_million                 73130 non-null  float64
 15  new_deaths_smoothed_per_million        81625 non-null  float64
 16  reproduction_rate                      68942 non-null  float64
 17  icu_patients                           8684 non-null   float64
 18  icu_patients_per_million               8684 non-null   float64
 19  hosp_patients                          10814 non-null  float64
 20  hosp_patients_per_million              10814 non-null  float64
 21  weekly_icu_admissions                  789 non-null    float64
 22  weekly_icu_admissions_per_million      789 non-null    float64
 23  weekly_hosp_admissions                 1295 non-null   float64
 24  weekly_hosp_admissions_per_million     1295 non-null   float64
 25  new_tests                              38945 non-null  float64
 26  total_tests                            38652 non-null  float64
 27  total_tests_per_thousand               38652 non-null  float64
 28  new_tests_per_thousand                 38945 non-null  float64
 29  new_tests_smoothed                     44625 non-null  float64
 30  new_tests_smoothed_per_thousand        44625 non-null  float64
 31  positive_rate                          42904 non-null  float64
 32  tests_per_case                         42311 non-null  float64
 33  tests_units                            46079 non-null  object
 34  total_vaccinations                     9374 non-null   float64
 35  people_vaccinated                      8744 non-null   float64
 36  people_fully_vaccinated                6431 non-null   float64
 37  new_vaccinations                       7954 non-null   float64
 38  new_vaccinations_smoothed              15092 non-null  float64
 39  total_vaccinations_per_hundred         9374 non-null   float64
 40  people_vaccinated_per_hundred          8744 non-null   float64
 41  people_fully_vaccinated_per_hundred    6431 non-null   float64
 42  new_vaccinations_smoothed_per_million  15092 non-null  float64
 43  stringency_index                       72207 non-null  float64
 44  population                             84622 non-null  float64
 45  population_density                     79274 non-null  float64
 46  median_age                             76706 non-null  float64
 47  aged_65_older                          75830 non-null  float64
 48  aged_70_older                          76276 non-null  float64
 49  gdp_per_capita                         77046 non-null  float64
 50  extreme_poverty                        52449 non-null  float64
 51  cardiovasc_death_rate                  77634 non-null  float64
 52  diabetes_prevalence                    78779 non-null  float64
 53  female_smokers                         60828 non-null  float64
 54  male_smokers                           59931 non-null  float64
 55  handwashing_facilities                 39007 non-null  float64
 56  hospital_beds_per_thousand             70847 non-null  float64
 57  life_expectancy                        80833 non-null  float64
 58  human_development_index                77517 non-null  float64
dtypes: float64(54), object(5)
memory usage: 38.3+ MB

In [8]:
len(df)

85171

## Transform dan Clean Data CovidDeath

In [9]:
df.isnull().sum()

iso_code                                     0
continent                                 4111
location                                     0
date                                         0
total_cases                               2099
new_cases                                 2101
new_cases_smoothed                        3102
total_deaths                             11763
new_deaths                               11605
new_deaths_smoothed                       3102
total_cases_per_million                   2548
new_cases_per_million                     2550
new_cases_smoothed_per_million            3546
total_deaths_per_million                 12199
new_deaths_per_million                   12041
new_deaths_smoothed_per_million           3546
reproduction_rate                        16229
icu_patients                             76487
icu_patients_per_million                 76487
hosp_patients                            74357
hosp_patients_per_million                74357
weekly_icu_admissions                    84382
weekly_icu_admissions_per_million        84382
weekly_hosp_admissions                   83876
weekly_hosp_admissions_per_million       83876
new_tests                                46226
total_tests                              46519
total_tests_per_thousand                 46519
new_tests_per_thousand                   46226
new_tests_smoothed                       40546
new_tests_smoothed_per_thousand          40546
positive_rate                            42267
tests_per_case                           42860
tests_units                              39092
total_vaccinations                       75797
people_vaccinated                        76427
people_fully_vaccinated                  78740
new_vaccinations                         77217
new_vaccinations_smoothed                70079
total_vaccinations_per_hundred           75797
people_vaccinated_per_hundred            76427
people_fully_vaccinated_per_hundred      78740
new_vaccinations_smoothed_per_million    70079
stringency_index                         12964
population                                 549
population_density                        5897
median_age                                8465
aged_65_older                             9341
aged_70_older                             8895
gdp_per_capita                            8125
extreme_poverty                          32722
cardiovasc_death_rate                     7537
diabetes_prevalence                       6392
female_smokers                           24343
male_smokers                             25240
handwashing_facilities                   46164
hospital_beds_per_thousand               14324
life_expectancy                           4338
human_development_index                   7654
dtype: int64

In [10]:
df['date'] = pd.to_datetime(df['date'])

In [11]:
df = df.replace({np.nan: None})

In [12]:
df.isnull().values.any()

np.True_

In [13]:
df.columns[df.isnull().any()].tolist()

['continent',
 'total_cases',
 'new_cases',
 'new_cases_smoothed',
 'total_deaths',
 'new_deaths',
 'new_deaths_smoothed',
 'total_cases_per_million',
 'new_cases_per_million',
 'new_cases_smoothed_per_million',
 'total_deaths_per_million',
 'new_deaths_per_million',
 'new_deaths_smoothed_per_million',
 'reproduction_rate',
 'icu_patients',
 'icu_patients_per_million',
 'hosp_patients',
 'hosp_patients_per_million',
 'weekly_icu_admissions',
 'weekly_icu_admissions_per_million',
 'weekly_hosp_admissions',
 'weekly_hosp_admissions_per_million',
 'new_tests',
 'total_tests',
 'total_tests_per_thousand',
 'new_tests_per_thousand',
 'new_tests_smoothed',
 'new_tests_smoothed_per_thousand',
 'positive_rate',
 'tests_per_case',
 'tests_units',
 'total_vaccinations',
 'people_vaccinated',
 'people_fully_vaccinated',
 'new_vaccinations',
 'new_vaccinations_smoothed',
 'total_vaccinations_per_hundred',
 'people_vaccinated_per_hundred',
 'people_fully_vaccinated_per_hundred',
 'new_vaccinations_smoothed_per_million',
 'stringency_index',
 'population',
 'population_density',
 'median_age',
 'aged_65_older',
 'aged_70_older',
 'gdp_per_capita',
 'extreme_poverty',
 'cardiovasc_death_rate',
 'diabetes_prevalence',
 'female_smokers',
 'male_smokers',
 'handwashing_facilities',
 'hospital_beds_per_thousand',
 'life_expectancy',
 'human_development_index']

In [14]:
df.head(50)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,None,None,None,None,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,None,None,None,None,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,None,None,None,None,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,None,None,None,None,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,None,None,None,None,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
5,AFG,Asia,Afghanistan,2020-02-29,1.0,0.0,0.143,None,None,0.0,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
6,AFG,Asia,Afghanistan,2020-03-01,1.0,0.0,0.143,None,None,0.0,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
7,AFG,Asia,Afghanistan,2020-03-02,1.0,0.0,0.0,None,None,0.0,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
8,AFG,Asia,Afghanistan,2020-03-03,2.0,1.0,0.143,None,None,0.0,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
9,AFG,Asia,Afghanistan,2020-03-04,4.0,2.0,0.429,None,None,0.0,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
10,AFG,Asia,Afghanistan,2020-03-05,4.0,0.0,0.429,None,None,0.0,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
11,AFG,Asia,Afghanistan,2020-03-06,4.0,0.0,0.429,None,None,0.0,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
12,AFG,Asia,Afghanistan,2020-03-07,4.0,0.0,0.429,None,None,0.0,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
13,AFG,Asia,Afghanistan,2020-03-08,5.0,1.0,0.571,None,None,0.0,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
14,AFG,Asia,Afghanistan,2020-03-09,7.0,2.0,0.857,None,None,0.0,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
15,AFG,Asia,Afghanistan,2020-03-10,8.0,1.0,0.857,None,None,0.0,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
16,AFG,Asia,Afghanistan,2020-03-11,11.0,3.0,1.0,None,None,0.0,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
17,AFG,Asia,Afghanistan,2020-03-12,12.0,1.0,1.143,None,None,0.0,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
18,AFG,Asia,Afghanistan,2020-03-13,13.0,1.0,1.286,None,None,0.0,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
19,AFG,Asia,Afghanistan,2020-03-14,15.0,2.0,1.571,None,None,0.0,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
20,AFG,Asia,Afghanistan,2020-03-15,16.0,1.0,1.571,None,None,0.0,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
21,AFG,Asia,Afghanistan,2020-03-16,18.0,2.0,1.571,None,None,0.0,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
22,AFG,Asia,Afghanistan,2020-03-17,20.0,2.0,1.714,None,None,0.0,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
23,AFG,Asia,Afghanistan,2020-03-18,24.0,4.0,1.857,None,None,0.0,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
24,AFG,Asia,Afghanistan,2020-03-19,25.0,1.0,1.857,None,None,0.0,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
25,AFG,Asia,Afghanistan,2020-03-20,29.0,4.0,2.286,None,None,0.0,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
26,AFG,Asia,Afghanistan,2020-03-21,30.0,1.0,2.143,None,None,0.0,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
27,AFG,Asia,Afghanistan,2020-03-22,34.0,4.0,2.571,1.0,1.0,0.143,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
28,AFG,Asia,Afghanistan,2020-03-23,41.0,7.0,3.286,1.0,0.0,0.143,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
29,AFG,Asia,Afghanistan,2020-03-24,43.0,2.0,3.286,1.0,0.0,0.143,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
30,AFG,Asia,Afghanistan,2020-03-25,76.0,33.0,7.429,2.0,1.0,0.286,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
31,AFG,Asia,Afghanistan,2020-03-26,80.0,4.0,7.857,3.0,1.0,0.429,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
32,AFG,Asia,Afghanistan,2020-03-27,91.0,11.0,8.857,3.0,0.0,0.429,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
33,AFG,Asia,Afghanistan,2020-03-28,107.0,16.0,11.0,4.0,1.0,0.571,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
34,AFG,Asia,Afghanistan,2020-03-29,118.0,11.0,12.0,4.0,0.0,0.429,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
35,AFG,Asia,Afghanistan,2020-03-30,146.0,28.0,15.0,4.0,0.0,0.429,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
36,AFG,Asia,Afghanistan,2020-03-31,175.0,29.0,18.857,4.0,0.0,0.429,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
37,AFG,Asia,Afghanistan,2020-04-01,197.0,22.0,17.286,4.0,0.0,0.286,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
38,AFG,Asia,Afghanistan,2020-04-02,240.0,43.0,22.857,4.0,0.0,0.143,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
39,AFG,Asia,Afghanistan,2020-04-03,275.0,35.0,26.286,8.0,4.0,0.714,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
40,AFG,Asia,Afghanistan,2020-04-04,300.0,25.0,27.571,10.0,2.0,0.857,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
41,AFG,Asia,Afghanistan,2020-04-05,338.0,38.0,31.429,12.0,2.0,1.143,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
42,AFG,Asia,Afghanistan,2020-04-06,368.0,30.0,31.714,15.0,3.0,1.571,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
43,AFG,Asia,Afghanistan,2020-04-07,424.0,56.0,35.571,16.0,1.0,1.714,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
44,AFG,Asia,Afghanistan,2020-04-08,445.0,21.0,35.429,16.0,0.0,1.714,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
45,AFG,Asia,Afghanistan,2020-04-09,485.0,40.0,35.0,17.0,1.0,1.857,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
46,AFG,Asia,Afghanistan,2020-04-10,532.0,47.0,36.714,18.0,1.0,1.429,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
47,AFG,Asia,Afghanistan,2020-04-11,556.0,24.0,36.571,18.0,0.0,1.143,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
48,AFG,Asia,Afghanistan,2020-04-12,608.0,52.0,38.571,19.0,1.0,1.0,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
49,AFG,Asia,Afghanistan,2020-04-13,666.0,58.0,42.571,22.0,3.0,1.0,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511

In [10]:
# df['continent'] = df['continent'].fillna('')

In [11]:
# cols_to_zero = [
#     'total_cases', 'new_cases', 'new_cases_smoothed',
#     'total_deaths', 'new_deaths', 'new_deaths_smoothed',
#     'total_cases_per_million', 'new_cases_per_million',
#     'new_cases_smoothed_per_million', 'total_deaths_per_million',
#     'new_deaths_per_million', 'new_deaths_smoothed_per_million',
#     'icu_patients', 'icu_patients_per_million',
#     'hosp_patients', 'hosp_patients_per_million',
#     'weekly_icu_admissions', 'weekly_icu_admissions_per_million',
#     'weekly_hosp_admissions', 'weekly_hosp_admissions_per_million',
#     'new_tests', 'total_tests', 'total_tests_per_thousand',
#     'new_tests_per_thousand', 'new_tests_smoothed',
#     'new_tests_smoothed_per_thousand', 'positive_rate', 'tests_per_case',
#     'total_vaccinations', 'people_vaccinated', 'people_fully_vaccinated',
#     'new_vaccinations', 'new_vaccinations_smoothed',
#     'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
#     'people_fully_vaccinated_per_hundred', 'new_vaccinations_smoothed_per_million'
# ]

In [12]:
# for col in cols_to_zero:
#     if col in df.columns:
#         df[col] = df[col].fillna(0)

In [13]:
# df = df.replace({np.nan: None})

In [14]:
# df.isnull().values.any()

np.True_

In [16]:
# df.columns[df.isnull().any()].tolist()

['reproduction_rate',
 'tests_units',
 'stringency_index',
 'population',
 'population_density',
 'median_age',
 'aged_65_older',
 'aged_70_older',
 'gdp_per_capita',
 'extreme_poverty',
 'cardiovasc_death_rate',
 'diabetes_prevalence',
 'female_smokers',
 'male_smokers',
 'handwashing_facilities',
 'hospital_beds_per_thousand',
 'life_expectancy',
 'human_development_index']

In [15]:
# df['date'] = pd.to_datetime(df['date']).dt.strftime('%Y-%m-%d')

In [17]:
# df = df.replace({np.nan: None})

In [18]:
# df.isnull().values.any()

np.True_

In [19]:
# df.columns[df.isnull().any()].tolist()

['reproduction_rate',
 'tests_units',
 'stringency_index',
 'population',
 'population_density',
 'median_age',
 'aged_65_older',
 'aged_70_older',
 'gdp_per_capita',
 'extreme_poverty',
 'cardiovasc_death_rate',
 'diabetes_prevalence',
 'female_smokers',
 'male_smokers',
 'handwashing_facilities',
 'hospital_beds_per_thousand',
 'life_expectancy',
 'human_development_index']

In [ ]:
# non_numeric_cols = ['iso_code', 'continent', 'location', 'date', 'tests_units']

In [ ]:
# numeric_cols = [c for c in df.columns if c not in non_numeric_cols]

In [ ]:
# for col in numeric_cols:
#     df[col] = pd.to_numeric(df[col], errors='coerce')

In [15]:
df.to_csv('CovidDeaths_Cleaned.csv', index=False, na_rep='\\N')

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85171 entries, 0 to 85170
Data columns (total 59 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   iso_code                               85171 non-null  object
 1   continent                              81060 non-null  object
 2   location                               85171 non-null  object
 3   date                                   85171 non-null  datetime64[ns]
 4   total_cases                            83072 non-null  object
 5   new_cases                              83070 non-null  object
 6   new_cases_smoothed                     82069 non-null  object
 7   total_deaths                           73408 non-null  object
 8   new_deaths                             73566 non-null  object
 9   new_deaths_smoothed                    82069 non-null  object
 10  total_cases_per_million                82623 non-null  object
 11  new_cases_per_million                  82621 non-null  object
 12  new_cases_smoothed_per_million         81625 non-null  object
 13  total_deaths_per_million               72972 non-null  object
 14  new_deaths_per_million                 73130 non-null  object
 15  new_deaths_smoothed_per_million        81625 non-null  object
 16  reproduction_rate                      68942 non-null  object
 17  icu_patients                           8684 non-null   object
 18  icu_patients_per_million               8684 non-null   object
 19  hosp_patients                          10814 non-null  object
 20  hosp_patients_per_million              10814 non-null  object
 21  weekly_icu_admissions                  789 non-null    object
 22  weekly_icu_admissions_per_million      789 non-null    object
 23  weekly_hosp_admissions                 1295 non-null   object
 24  weekly_hosp_admissions_per_million     1295 non-null   object
 25  new_tests                              38945 non-null  object
 26  total_tests                            38652 non-null  object
 27  total_tests_per_thousand               38652 non-null  object
 28  new_tests_per_thousand                 38945 non-null  object
 29  new_tests_smoothed                     44625 non-null  object
 30  new_tests_smoothed_per_thousand        44625 non-null  object
 31  positive_rate                          42904 non-null  object
 32  tests_per_case                         42311 non-null  object
 33  tests_units                            46079 non-null  object
 34  total_vaccinations                     9374 non-null   object
 35  people_vaccinated                      8744 non-null   object
 36  people_fully_vaccinated                6431 non-null   object
 37  new_vaccinations                       7954 non-null   object
 38  new_vaccinations_smoothed              15092 non-null  object
 39  total_vaccinations_per_hundred         9374 non-null   object
 40  people_vaccinated_per_hundred          8744 non-null   object
 41  people_fully_vaccinated_per_hundred    6431 non-null   object
 42  new_vaccinations_smoothed_per_million  15092 non-null  object
 43  stringency_index                       72207 non-null  object
 44  population                             84622 non-null  object
 45  population_density                     79274 non-null  object
 46  median_age                             76706 non-null  object
 47  aged_65_older                          75830 non-null  object
 48  aged_70_older                          76276 non-null  object
 49  gdp_per_capita                         77046 non-null  object
 50  extreme_poverty                        52449 non-null  object
 51  cardiovasc_death_rate                  77634 non-null  object
 52  diabetes_prevalence                    78779 non-null  object
 53  female_smokers                         60828 non-null  object
 54  male_smokers                           59931 non-null  object
 55  handwashing_facilities                 39007 non-null  object
 56  hospital_beds_per_thousand             70847 non-null  object
 57  life_expectancy                        80833 non-null  object
 58  human_development_index                77517 non-null  object
dtypes: datetime64[ns](1), object(58)
memory usage: 38.3+ MB

In [19]:
df['tests_units'].value_counts(dropna=False)

tests_units
None               39092
tests performed    28555
people tested       8568
samples tested      8073
units unclear        883
Name: count, dtype: int64

## Cek Data CovidVaccinations

In [20]:
df2.head(5)

,iso_code,continent,location,date,new_tests,total_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2/24/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2/25/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2/26/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2/27/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2/28/2020,NaN,NaN,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511

In [21]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85171 entries, 0 to 85170
Data columns (total 37 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   iso_code                               85171 non-null  object
 1   continent                              81060 non-null  object
 2   location                               85171 non-null  object
 3   date                                   85171 non-null  object
 4   new_tests                              38945 non-null  float64
 5   total_tests                            38652 non-null  float64
 6   total_tests_per_thousand               38652 non-null  float64
 7   new_tests_per_thousand                 38945 non-null  float64
 8   new_tests_smoothed                     44625 non-null  float64
 9   new_tests_smoothed_per_thousand        44625 non-null  float64
 10  positive_rate                          42904 non-null  float64
 11  tests_per_case                         42311 non-null  float64
 12  tests_units                            46079 non-null  object
 13  total_vaccinations                     9374 non-null   float64
 14  people_vaccinated                      8744 non-null   float64
 15  people_fully_vaccinated                6431 non-null   float64
 16  new_vaccinations                       7954 non-null   float64
 17  new_vaccinations_smoothed              15092 non-null  float64
 18  total_vaccinations_per_hundred         9374 non-null   float64
 19  people_vaccinated_per_hundred          8744 non-null   float64
 20  people_fully_vaccinated_per_hundred    6431 non-null   float64
 21  new_vaccinations_smoothed_per_million  15092 non-null  float64
 22  stringency_index                       72207 non-null  float64
 23  population_density                     79274 non-null  float64
 24  median_age                             76706 non-null  float64
 25  aged_65_older                          75830 non-null  float64
 26  aged_70_older                          76276 non-null  float64
 27  gdp_per_capita                         77046 non-null  float64
 28  extreme_poverty                        52449 non-null  float64
 29  cardiovasc_death_rate                  77634 non-null  float64
 30  diabetes_prevalence                    78779 non-null  float64
 31  female_smokers                         60828 non-null  float64
 32  male_smokers                           59931 non-null  float64
 33  handwashing_facilities                 39007 non-null  float64
 34  hospital_beds_per_thousand             70847 non-null  float64
 35  life_expectancy                        80833 non-null  float64
 36  human_development_index                77517 non-null  float64
dtypes: float64(32), object(5)
memory usage: 24.0+ MB

## Transform dan Clean CovidVaccination

In [36]:
df2['date'] = pd.to_datetime(df2['date'])

In [37]:
df2 = df2.replace({np.nan: None})

In [38]:
df2.isnull().values.any()

np.True_

In [39]:
df2.columns[df2.isnull().any()].tolist()

['continent',
 'new_tests',
 'total_tests',
 'total_tests_per_thousand',
 'new_tests_per_thousand',
 'new_tests_smoothed',
 'new_tests_smoothed_per_thousand',
 'positive_rate',
 'tests_per_case',
 'tests_units',
 'total_vaccinations',
 'people_vaccinated',
 'people_fully_vaccinated',
 'new_vaccinations',
 'new_vaccinations_smoothed',
 'total_vaccinations_per_hundred',
 'people_vaccinated_per_hundred',
 'people_fully_vaccinated_per_hundred',
 'new_vaccinations_smoothed_per_million',
 'stringency_index',
 'population_density',
 'median_age',
 'aged_65_older',
 'aged_70_older',
 'gdp_per_capita',
 'extreme_poverty',
 'cardiovasc_death_rate',
 'diabetes_prevalence',
 'female_smokers',
 'male_smokers',
 'handwashing_facilities',
 'hospital_beds_per_thousand',
 'life_expectancy',
 'human_development_index']

In [40]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85171 entries, 0 to 85170
Data columns (total 37 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   iso_code                               85171 non-null  object
 1   continent                              81060 non-null  object
 2   location                               85171 non-null  object
 3   date                                   85171 non-null  datetime64[ns]
 4   new_tests                              38945 non-null  object
 5   total_tests                            38652 non-null  object
 6   total_tests_per_thousand               38652 non-null  object
 7   new_tests_per_thousand                 38945 non-null  object
 8   new_tests_smoothed                     44625 non-null  object
 9   new_tests_smoothed_per_thousand        44625 non-null  object
 10  positive_rate                          42904 non-null  object
 11  tests_per_case                         42311 non-null  object
 12  tests_units                            46079 non-null  object
 13  total_vaccinations                     9374 non-null   object
 14  people_vaccinated                      8744 non-null   object
 15  people_fully_vaccinated                6431 non-null   object
 16  new_vaccinations                       7954 non-null   object
 17  new_vaccinations_smoothed              15092 non-null  object
 18  total_vaccinations_per_hundred         9374 non-null   object
 19  people_vaccinated_per_hundred          8744 non-null   object
 20  people_fully_vaccinated_per_hundred    6431 non-null   object
 21  new_vaccinations_smoothed_per_million  15092 non-null  object
 22  stringency_index                       72207 non-null  object
 23  population_density                     79274 non-null  object
 24  median_age                             76706 non-null  object
 25  aged_65_older                          75830 non-null  object
 26  aged_70_older                          76276 non-null  object
 27  gdp_per_capita                         77046 non-null  object
 28  extreme_poverty                        52449 non-null  object
 29  cardiovasc_death_rate                  77634 non-null  object
 30  diabetes_prevalence                    78779 non-null  object
 31  female_smokers                         60828 non-null  object
 32  male_smokers                           59931 non-null  object
 33  handwashing_facilities                 39007 non-null  object
 34  hospital_beds_per_thousand             70847 non-null  object
 35  life_expectancy                        80833 non-null  object
 36  human_development_index                77517 non-null  object
dtypes: datetime64[ns](1), object(36)
memory usage: 24.0+ MB

In [41]:
df2['aged_70_older'].unique()

array([1.337, None, 8.643, 3.857, 1.362, 4.631, 7.441, 7.571, 7.452,
       10.129, 13.748, 3.871, 5.2, 1.387, 3.262, 9.473, 9.788, 12.849,
       2.279, 1.942, 2.977, 4.393, 10.711, 2.242, 5.06, 2.382, 13.272,
       1.358, 1.504, 2.385, 1.919, 10.797, 3.437, 2.251, 1.446, 6.938,
       5.929, 4.312, 1.726, 2.063, 5.694, 1.582, 13.053, 9.719, 10.068,
       8.563, 11.58, 1.745, 12.325, 2.38, 4.419, 4.458, 2.891, 5.417,
       1.752, 2.171, 13.491, 1.845, 3.284, 13.264, 13.079, 2.976, 1.417,
       10.244, 15.957, 1.948, 14.524, 5.021, 3.016, 1.733, 1.565, 2.837,
       2.954, 2.883, 10.158, 11.976, 9.207, 3.414, 3.053, 3.182, 1.957,
       8.678, 7.359, 16.24, 6.39, 18.493, 2.361, 4.625, 1.528, 1.114,
       2.882, 2.322, 14.136, 5.43, 2.647, 1.756, 2.816, 13.778, 9.842,
       4.991, 1.686, 1.783, 3.407, 2.875, 1.486, 11.324, 1.792, 5.884,
       4.321, 2.392, 6.955, 2.421, 9.395, 4.209, 1.87, 3.12, 2.085, 3.212,
       11.881, 9.72, 3.519, 1.378, 1.447, 8.16, 10.813, 1.53, 2.78, 5.03,
       2.142, 3.833, 4.455, 2.661, 10.202, 14.924, 0.617, 11.69, 9.393,
       1.642, 6.405, 4.832, 3.564, 2.162, 1.796, 5.586, 1.285, 7.049,
       9.167, 12.93, 2.043, 1.496, 8.622, 2.032, 13.799, 5.331, 2.034,
       4.229, 13.433, 12.644, 2.577, 8.353, 2.155, 1.874, 6.89, 1.897,
       1.525, 4.032, 5.819, 5.075, 5.061, 1.308, 11.133, 0.526, 12.527,
       9.732, 10.361, 2.873, 2.62, 3.915, 4.718, 5.355, 1.583, 1.542,
       1.882], dtype=object)

In [42]:
df2.head(50)

,iso_code,continent,location,date,new_tests,total_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,None,None,None,None,None,None,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25,None,None,None,None,None,None,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26,None,None,None,None,None,None,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27,None,None,None,None,None,None,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28,None,None,None,None,None,None,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
5,AFG,Asia,Afghanistan,2020-02-29,None,None,None,None,None,None,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
6,AFG,Asia,Afghanistan,2020-03-01,None,None,None,None,None,None,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
7,AFG,Asia,Afghanistan,2020-03-02,None,None,None,None,None,None,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
8,AFG,Asia,Afghanistan,2020-03-03,None,None,None,None,None,None,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
9,AFG,Asia,Afghanistan,2020-03-04,None,None,None,None,None,None,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
10,AFG,Asia,Afghanistan,2020-03-05,None,None,None,None,None,None,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
11,AFG,Asia,Afghanistan,2020-03-06,None,None,None,None,None,None,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
12,AFG,Asia,Afghanistan,2020-03-07,None,None,None,None,None,None,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
13,AFG,Asia,Afghanistan,2020-03-08,None,None,None,None,None,None,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
14,AFG,Asia,Afghanistan,2020-03-09,None,None,None,None,None,None,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
15,AFG,Asia,Afghanistan,2020-03-10,None,None,None,None,None,None,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
16,AFG,Asia,Afghanistan,2020-03-11,None,None,None,None,None,None,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
17,AFG,Asia,Afghanistan,2020-03-12,None,None,None,None,None,None,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
18,AFG,Asia,Afghanistan,2020-03-13,None,None,None,None,None,None,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
19,AFG,Asia,Afghanistan,2020-03-14,None,None,None,None,None,None,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
20,AFG,Asia,Afghanistan,2020-03-15,None,None,None,None,None,None,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
21,AFG,Asia,Afghanistan,2020-03-16,None,None,None,None,None,None,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
22,AFG,Asia,Afghanistan,2020-03-17,None,None,None,None,None,None,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
23,AFG,Asia,Afghanistan,2020-03-18,None,None,None,None,None,None,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
24,AFG,Asia,Afghanistan,2020-03-19,None,None,None,None,None,None,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
25,AFG,Asia,Afghanistan,2020-03-20,None,None,None,None,None,None,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
26,AFG,Asia,Afghanistan,2020-03-21,None,None,None,None,None,None,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
27,AFG,Asia,Afghanistan,2020-03-22,None,None,None,None,None,None,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
28,AFG,Asia,Afghanistan,2020-03-23,None,None,None,None,None,None,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
29,AFG,Asia,Afghanistan,2020-03-24,None,None,None,None,None,None,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
30,AFG,Asia,Afghanistan,2020-03-25,None,None,None,None,None,None,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
31,AFG,Asia,Afghanistan,2020-03-26,None,None,None,None,None,None,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
32,AFG,Asia,Afghanistan,2020-03-27,None,None,None,None,None,None,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
33,AFG,Asia,Afghanistan,2020-03-28,None,None,None,None,None,None,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
34,AFG,Asia,Afghanistan,2020-03-29,None,None,None,None,None,None,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
35,AFG,Asia,Afghanistan,2020-03-30,None,None,None,None,None,None,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
36,AFG,Asia,Afghanistan,2020-03-31,None,None,None,None,None,None,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
37,AFG,Asia,Afghanistan,2020-04-01,None,None,None,None,None,None,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
38,AFG,Asia,Afghanistan,2020-04-02,None,None,None,None,None,None,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
39,AFG,Asia,Afghanistan,2020-04-03,None,None,None,None,None,None,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
40,AFG,Asia,Afghanistan,2020-04-04,None,None,None,None,None,None,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
41,AFG,Asia,Afghanistan,2020-04-05,None,None,None,None,None,None,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
42,AFG,Asia,Afghanistan,2020-04-06,None,None,None,None,None,None,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
43,AFG,Asia,Afghanistan,2020-04-07,None,None,None,None,None,None,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
44,AFG,Asia,Afghanistan,2020-04-08,None,None,None,None,None,None,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
45,AFG,Asia,Afghanistan,2020-04-09,None,None,None,None,None,None,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
46,AFG,Asia,Afghanistan,2020-04-10,None,None,None,None,None,None,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
47,AFG,Asia,Afghanistan,2020-04-11,None,None,None,None,None,None,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
48,AFG,Asia,Afghanistan,2020-04-12,None,None,None,None,None,None,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511
49,AFG,Asia,Afghanistan,2020-04-13,None,None,None,None,None,None,...,1803.987,None,597.029,9.59,None,None,37.746,0.5,64.83,0.511

In [43]:
df2.to_csv('CovidVaccinations_Cleaned2.csv', index=False, na_rep='\\N')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')